<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="card-runner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
        <div class="card-category"><%= @user.gender %></div>
        <div class="card-description">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <p><b>Language: </b><%= @user.language_spoken %></p>
          <p><b> phone number: </b><%= @user.phone_number %></p>
          <p><b>About: </b><%= @user.description %></p>
          <p><b>Run Pace: </b><%= @user.pace %></p>
          <p><b>Birthdate: </b><%= @user.birthdate %></p>
          <p><b> gender: </b><%= @user.gender %></p>
          <p><%= link_to 'Edit profile', edit_user_registration_path %></p>
        </div>
        <img class="card-user" src=" <%= image_path(@user.photo) %> ">
      </div>
    </div>
  </div>
</div>
