<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="card-runner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
        <div class="card-category"><%= @user.gender %></div>
        <div class="card-description">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <p><b>Language: </b><%= @user.language_spoken %></p>
          <p><b> phone number: </b><%= @user.phone_number %></p>
          <p><b>About: </b><%= @user.description %></p>
          <p><b>Run Pace: </b><%= @user.pace %></p>
          <p><b>Birthdate: </b><%= @user.birthdate %></p>
          <p><b> gender: </b><%= @user.gender %></p>
          <p><%= link_to 'Edit profile', edit_user_registration_path %></p>
        </div>
        <img class="card-user" src=" <%= image_path(@user.photo) %> ">
      </div>
    </div>
  </div>
  <div class="row">
     <div class="col-md-12">
      <h2>Runs i've created</h2>
      <table class="table table-striped">
        <tr>
          <th>Run</th>
          <th>Participant</th>
          <th>Status</th>
          <th>Email</th>
          <th>Action</th>
        </tr>

        <% @user_created_runs.each do |run| %>
          <tr>
          <td> <%= link_to run.name, run_path(run) %> </td>

              <% run.run_bookings.each do |run_booking| %>
                <td> <%= run_booking.user.first_name %> <%= run_booking.user.last_name %> </td>
                <td> <%= run_booking.status %> </td>
                <td> <%= run_booking.user.email %> </td>
                <td><%= form_tag run_run_booking_path(run, run_booking), method: :patch do %>
                  <%= hidden_field_tag 'user_to_approve_id', run_booking.user.id %>

                  <% if run_booking.status == "Pending" %>
                    <%= submit_tag 'Approve', class: 'btn btn-primary' %>
                  <% else %>
                    <%= submit_tag 'Cancel', class: 'btn btn-warning' %>
                  <% end %>

                <% end %></td>

              <% end %>
        <% end %>
        <tr>
      </table>
     </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Runs i'm running</h2>
      <table class="table table-striped">
        <tr>
          <th>Run</th>
          <th>Run owner</th>
          <th>My status</th>
        </tr>

        <% current_user.run_bookings.each do |run_booking| %>
        <tr>
          <td> <%= link_to run_booking.run.name, run_path(run_booking.run) %> </td>
          <td> <%= run_booking.run.user.first_name %> <%= run_booking.run.user.last_name %> </td>
          <td> <%= run_booking.status %> </td>
        </tr>
      <% end %>

    </div>
  </div>
</div>


<!-- <table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table> -->
