<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="card-runner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
        <div class="card-category"><%= @user.gender %></div>
        <div class="card-description">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <p><b>Language: </b><%= @user.language_spoken %></p>
          <p><b> phone number: </b><%= @user.phone_number %></p>
          <p><b>About: </b><%= @user.description %></p>
          <p><b>Run Pace: </b><%= @user.pace %></p>
          <p><b>Birthdate: </b><%= @user.birthdate %></p>
          <p><b> gender: </b><%= @user.gender %></p>
          <p><%= link_to 'Edit profile', edit_user_registration_path %></p>
        </div>
        <img class="card-user" src=" <%= image_path(@user.photo) %> ">
      </div>
    </div>
  </div>
  <div class="row">
     <div class="col-md-12">
      <h2>Runs I'm Hosting</h2>
      <table class="table table-striped">
        <tr>
          <th>Run</th>
          <th>Participant</th>
          <th>Status</th>
          <th>Email</th>
          <th colspan="2">Action</th>
        </tr>

        <% @user_created_runs.each do |run| %>

            <% if run.run_bookings.present? %>
            <tr>
              <% run.run_bookings.each do |run_booking| %>
                <td> <%= link_to run.name, run_path(run) %> </td>
                <td> <%= run_booking.user.first_name %> <%= run_booking.user.last_name %> </td>
                <td> <%= run_booking.status %> </td>
                <td> <%= run_booking.user.email %> </td>
                <td> <%= form_tag run_run_booking_path(run, run_booking), method: :patch do %>
                  <%= hidden_field_tag 'user_to_approve_id', run_booking.user.id %>
                  <% if run_booking.status == "Pending" %>
                    <%= submit_tag 'Approve', class: 'btn btn-success btn-block' %>
                  <% else %>
                    <%= submit_tag 'Cancel', class: 'btn btn-warning btn-block' %>
                  <% end %>
                <% end %>
                </td>
                <td>
                <%= form_tag run_run_booking_path(run, run_booking), method: :delete do %>
                  <%= hidden_field_tag 'user_to_decline_id', run_booking.user.id %>
                  <% if run_booking.status == "Pending" %>
                    <%= submit_tag 'Decline', class: 'btn btn-danger btn-block' %>
                  <% else %>

                  <% end %>

                <% end %>
                </td>
              </tr>

              <% end %>

              <% else %>
              <tr>
                <td> <%= link_to run.name, run_path(run) %> </td>
                <td colspan="3"></td>
                <td><%= link_to 'Edit', edit_run_path(run), class: "btn btn-primary btn-block"  %></td>
                <td><%= link_to 'Delete',run_path(run), method: :delete, class: "btn btn-danger btn-block"  %></td>
              </tr>
              <% end %>
          <% end %>
        </tr>
      </table>
     </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Runs I'm Joining</h2>
      <table class="table table-striped">
        <tr>
          <th>Run</th>
          <th>Run host</th>
          <th>My request status</th>
          <th>Action</th>
        </tr>

        <% current_user.run_bookings.each do |run_booking| %>
        <tr>
          <td> <%= link_to run_booking.run.name, run_path(run_booking.run) %> </td>
          <td> <%= run_booking.run.user.first_name %> <%= run_booking.run.user.last_name %> </td>
          <td> <%= run_booking.status %> </td>
          <td><%= link_to 'Cancel', run_run_booking_path(run_booking.run, run_booking), method: :delete, class: "btn btn-warning btn-block" %></td>
        </tr>
      <% end %>

    </div>
  </div>
</div>
