      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="card-category"></div>
          <div class="card-description">
            <h3><%= run.name %></h4>
            <h2>Distance: <%= run.distance %>kms</h2>
            <h2>Pace: <%= run.pace %>min/km</h2>
            <p>Starting: <%= run.date_time %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>

    <h2><%= run.description %></h2>
    <p class="article-content"><%= run.location %></p>
