
<div id="run-<%= run.id %>" class="<%= 'col-xs-12 col-sm-6 col-lg-4' unless action_name == 'show' %> run-card-wrapper padded-top">
  <div class="run-card-container <%= 'run-card-show' if action_name == 'show' %>">


      <!-- Run Image and Owner Avatar -->

      <% if run.photo.blank? %>
        <% @photo = "http://www.placehold.it/80/80" %>
        <div class="run-card-image" style="background-image: url(<%= cl_image_path(@photo) %>);">
          <div class="avatar-rounded">
               <% if run.user.photo.blank? %>
                <% @photo = "profile.jpg" %>
                <%= image_tag @photo, class: "avatar-card"%>
              <% else %>
                <% @photo = run.user.photo %>
                <%= image_tag @photo, class: "avatar-card"%>
              <% end %>
          </div>
        </div>
      <% else %>
        <% @photo = run.photo %>
        <div class="run-card-image <%= 'run-card-show-image' if action_name == 'show' %>" style="background-image: url(<%= cl_image_path(@photo) %>);">
          <% unless action_name == 'show' %>
            <div class="avatar-rounded">
                <% if run.user.photo.blank? %>
                  <% @photo = "profile.jpg" %>
                  <%= image_tag @photo, class: "avatar-card"%>
                <% else %>
                  <% @photo = run.user.photo %>
                  <%= image_tag @photo, class: "avatar-card"%>
                <% end %>
            </div>

          <% end %>
        </div>
      <% end %>


      <!-- Run Bottom Row (Price, Name, Duration, Sport)  -->
      <div class="run-card-details">
        <div class="card-row">

          <% unless action_name == 'show' %>
            <span class="run-card-name"><%= run.name.titleize %> | </span>
            <span class="run-card-location">Lisbon</span>
          <% end %>

          <% if action_name == 'show' %>
            <div class="card-row">
              <span class="run-card-title"><strong><%= run.location.titleize %></strong></span>
            </div>
            <div class="card-row">
              <span class="run-card-distance"><strong><%= run.run_distance %> km |</strong></span>
              <span class="run-card-pace"><%= run.pace %> min/km</span>
            </div>
            <div class="card-row">
              <span class="run-card-date"><strong><%= @run.date_time.strftime("%d %b %Y") %> |</strong></span>
              <span class="run-card-time"> <%= @run.date_time.strftime("%H:%M") %></span>
            </div>
            <div class="card-row">
              <span class="run-card-max"><span><i class="fa fa-user-o"></i></span> Max Runners: <%= run.group_number %> |</span>
              <span class="run-card-type"><% if run.group_type != nil %> <%= run.group_type.capitalize %><% end %></span>
            </div>
            <div class="card-row">
               <span class="run-card-terrain"><span><i class="fa fa-sun-o"></i></span><% if run.terrain != nil %> <%= run.terrain.capitalize %><% end %> |</span>
              <span class="run-card-weather"><% if run.all_weather? %> <%= "Will go ahead in all weather" %><% end %></span>
            </div>

            <div class="card-row">
              <span class="run-card-incline"><span><i class="fa fa-line-chart"></i></span><% if run.incline != nil %> <%= run.incline.capitalize %><% end %> |</span>
              <span class="run-card-elevation_gain">Elevation gain: <%= run.elevation_gain %></span>
            </div>
            <div class="card-row">
              <span class="run-card-description"><%= run.description %></span>
            </div>
          <% end %>

        </div>
        <% unless action_name == 'show' %>
          <div class="card-row">
            <span class="run-card-distance"><%= run.run_distance %> km |</span>
            <span class="run-card-pace"><%= run.pace %> min/km</span>
          </div>
          <div class="card-row">
            <span class="run-card-datetime"> 28 Oct 2017</span>
          </div>
        <% end %>
      </div>

      <%= link_to run, class: "run-card-link" do%>
      <% end %>
  </div>
</div>


