
<div id="run-<%= run.id %>" class="col-xs-12 col-sm-6 col-lg-4 run-card-wrapper padded-top">
  <div class="run-card-container">


      <!-- Run Image and Owner Avatar -->

      <% if run.photo.blank? %>
        <% @photo = "http://www.placehold.it/80/80" %>
        <div class="run-card-image" style="background-image: url(<%= cl_image_path(@photo) %>);">
          <div class="avatar-rounded">
               <% if run.user.photo.blank? %>
                <% @photo = "profile.jpg" %>
                <%= image_tag @photo, class: "avatar-card"%>
              <% else %>
                <% @photo = run.user.photo %>
                <%= image_tag @photo, class: "avatar-card"%>
              <% end %>
          </div>
        </div>
      <% else %>
        <% @photo = run.photo %>
        <div class="run-card-image" style="background-image: url(<%= cl_image_path(@photo) %>);">
          <div class="avatar-rounded">
              <% if run.user.photo.blank? %>
                <% @photo = "profile.jpg" %>
                <%= image_tag @photo, class: "avatar-card"%>
              <% else %>
                <% @photo = run.user.photo %>
                <%= image_tag @photo, class: "avatar-card"%>
              <% end %>
          </div>
        </div>
      <% end %>


      <!-- Run Bottom Row (Price, Name, Duration, Sport)  -->
      <div class="run-card-details">
        <div class="card-row">
          <span class="run-card-name"><%= run.name.titleize %> | </span>
          <span class="run-card-location">Lisbon</span>
        </div>
        <div class="card-row">
          <span class="run-card-distance"><%= run.run_distance %> km |</span>
          <span class="run-card-pace"><%= run.pace %> min/km</span>
        </div>
        <div class="card-row">
          <span class="run-card-datetime"> 28 Oct 2017</span>
        </div>
      </div>

      <%= link_to run, class: "run-card-link" do%>
      <% end %>
  </div>
</div>


