
<div class="col-xs-12 col-sm-6">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(run.photo) %>);">
    <h3><%= run.name %></h4>
    <p>Distance: <%= run.run_distance %>kms</p>
    <p>Pace: <%= run.pace %>min/km</p>
    <p>Starting: <%= run.date_time %></p>

       <p><b>USER: </b><%= run.user.email %></p>
    <img class="card-user" src="<%= image_path(run.user.photo) %>">
    <%= link_to "", run, class: "card-link" %>
  </div>
    </div>





