<div  id="map" style="width: 100%; height: 200%px; z-index: -1; position: absolute;  bottom: 0; background-size: 150% 150% !important;"></div>

  <div class="show-page__wrapper wrapper" >
    <div class="show-page__container container">

      <div class="show-page__search-row row">
        <div class="show-page__search-column col-xs-12 col-md-offset-9 col-md-3 text-left">
          <%= link_to '<< back to my search', runs_search_path, class: "btn btn-primary" %>
          <% if @run.user == current_user %>

                <%= link_to 'Edit', edit_run_path(@run), class: "btn btn-primary"  %>
                <%= link_to 'Delete',run_path(@run), method: :delete, class: "btn btn-danger"  %>

            <% else %>
                <% if current_user.run_bookings.where(run: @run).map(&:status).first == "Pending" %>

                  <%= link_to 'Cancel', run_run_booking_path(@run, @run.run_bookings.find_by(user: current_user)), method: :delete, class: "btn btn-warning" %>
                  <% else %>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="booking">
                      Request to join
                    </button>

              <% end %>
            <% end %>
        </div>
      </div>

      <!-- <h1 class="text-center"><%= @run.name.capitalize %> in <%= @run.location %></h1> -->

      <div class="show-page__user-row row">
        <div class="show-page__user-details-column col-xs-12 col-md-4">
          <%= render @run %>
        </div>
        <div class="show-page_run-details-column col-xs-12 col-md-6">
          </div>
        </div>
      </div>

      <div class="show-page__cta-row row">

      </div>


      <div class="show-page__runners-row row">
      <h3>Other runners attending:</h3>
      <!-- HAS TO BE DELETED -->
        <% 10.times do %>
          <div class="col-xs-3 col-md-1">
            <%= image_tag @run.user.photo, style: 'border-radius: 50%; width: 60px; border: 2px solid white;'  %>
          </div>
        <% end %>
        <!-- WILL WORK ONCE OTHER RUNNERS SIGN UP -->
        <% @run.run_bookings.each do |booking| %>
          <% unless booking.user == @run.user %>
            <div class="show-page__column col-xs-3 col-md-1">
              <% if booking.user.photo.blank? %>
                <% @photo = "profile.jpg" %>
                <%= image_tag @photo, style: 'border-radius: 50%; width: 100%;' %>
              <% else %>
                <% @photo = booking.user.photo %>
                <%= cl_image_tag @photo, style: 'border-radius: 50%; width: 100%;' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="show-page__user-avatar hidden-sm hidden-xs">
          <%= image_tag @run.user.photo, style: 'border-radius: 50%;'  %>
        </div>

      </div>

      <div class="show-page__details-row row">

        <div class="show-page__column col-xs-12 text-right">
          <div class="col-md-9">


            <h3><%= @run.name %> with <%= @run.user.first_name %> <%= @run.user.last_name %></h3>
            <p> <span><i class="fa fa-clock-o"></i></span>    <%= @run.user.pace %> <em> min / km</em></p>
            <p><strong></strong>
              <% 3.times do %>
              <i class="fa fa-star"></i>
            <% end %>
            </p>
          </div>
          <div class="col-md-3 hidden-sm hidden-xs">
            <em>I'm a nice person and <%= @run.user.description %></em>

          </div>






            <!-- <p><strong>When </strong><%= @run.date_time %></p>
            <p><strong>When </strong><%= @run.date_time %></p>
            <p><strong>Will go ahead in all weather  </strong><%= @run.all_weather  %></p> -->

            <!-- <p><strong>Distance: </strong></b><%= @run.run_distance %>km</p>
            <p><strong>Pace: </strong><%= @run.pace %>min/km</p> -->

            <!--  <p><strong>Max Runners: </strong><%= @run.group_number %></p>
            <p><strong>Group Type: </strong><%= @run.group_type %></p> -->
            <!-- <p><strong>Incline: </strong><%= @run.incline %></p>
            <p><strong>Terrain: </strong><%= @run.terrain %></p>
            <p><strong>Elevation Gain: </strong><%= @run.elevation_gain %></p> -->
        </div>

      </div>

    </div>
  </div>
</div>
  <!-- <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-6 text-left">

        <div class="card-run">
          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(@run.photo) %>);"></div>
          <div class="card-info">
          <div class="card-category"><%= @run.terrain %></div>
          <div class="card-description">
            <h2><%= @run.name %> at <%= @run.location %></h2>
            <p><b>When: </b><%= @run.date_time %></p>
            <p><b>Distance: </b><%= @run.run_distance %>km</p>
            <p><b>Run Pace: </b><%= @run.pace %>min/km</p>
             <p><b>Run Incline: </b><%= @run.incline %></p>
            <p><b>Elevation Gain: </b><%= @run.elevation_gain %></p>
             <p><b>WeatherConditions: </b><%= @run.all_weather  %></p>
            <p><b>Number of people: </b><%= @run.group_number %></p>
             <p><b>Languages: </b><%= @run.language_spoken %></p>
            <p><b>Details: </b><%= @run.description %></p>
          Button trigger modal
            </div>


          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 text-left">
        <div class="card-run" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
          <div class="card">
            <div class="card-category"><%= @run.user.gender %></div>
            <div class="card-description">
              <h2><%= @run.user.first_name %> <%= @run.user.last_name %></h2>
              <p><b>Language: </b><%= @run.user.language_spoken %></p>
              <p><b>About: </b><%= @run.user.description %></p>
              <p><b>Run Pace: </b><%= @run.user.pace %></p>
            </div>
            <img class="card-user" src=" <%= image_path(@run.user.photo) %> ">
          </div>
        </div>
    </div>
      </div> -->


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

      $(document).ready(function() {

          var handler = Gmaps.build('Google');
          handler.buildMap({
            provider: {
              disableDefaultUI: true
              // pass in other Google Maps API options here
            },
            internal: { id: 'map'} }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
            handler.getMap().setZoom(13);
            }
        });


      });
<% end %>
<% end %>
<%= render 'run_bookings/booking_form' %>






