<div  id="map" style="width: 100%; height: 200%px; z-index: -1; position: absolute;  bottom: 0; background-size: 150% 150% !important;"></div>

<div class="show-page__wrapper wrapper" >
  <div class="show-page__container container">
      <div class="show-page__column col-xs-12 col-xs-offset-0 col-md-4 col-xs-offset-0 text-left">
          <%= link_to '<< back to my search', runs_search_path %>
      </div>
    <h1 class="text-center"><%= @run.name %> in <%= @run.location %></h1>
    <div class="show-page__user-row row">
      <div class="show-page__avatar-column col-xs-12 col-md-4">
        <%= cl_image_tag @run.user.photo, width: 300 %>
      </div>
      <div class="show-page__avatar-column col-xs-12 col-md-6">
        <div class="thumbnail">
          <h2><%= @run.user.first_name %> <%= @run.user.last_name %></h2>
          <p><b>Language: </b><%= @run.user.language_spoken %></p>
          <p><b>Run Pace: </b><%= @run.user.pace %></p>
          <p><b>About: </b><%= @run.user.description %></p>
          <p><b>Rating: </b><%= %><b>Reviews: </b></p>
          <% if @run.user == current_user %>

                <%= link_to 'Edit', edit_run_path(@run), class: "btn btn-primary"  %>
                <%= link_to 'Delete',run_path(@run), method: :delete, class: "btn btn-lg btn-danger"  %>

            <% else %>
                <% if current_user.run_bookings.where(run: @run).map(&:status).first == "Pending" %>

                  <%= link_to 'Cancel', run_run_booking_path(@run, @run.run_bookings.find_by(user: current_user)), method: :delete, class: "btn btn-lg btn-warning" %>
                  <% else %>

                    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#booking">
                      Request to join
                    </button>

              <% end %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="show-page__cta-row row">

    </div>
    <h2>Other people joining this run</h2>
    <div class="show-page__runners-row row">
      <% @run.run_bookings.each do |booking| %>
        <% unless booking.user == @run.user %>
          <div class="show-page__column col-xs-3 col-md-1">
            <%= cl_image_tag booking.user.photo, style: 'border-radius: 50%; width: 100%;' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="show-page__details-row row">

      <div class="show-page__column col-xs-12 col-md-3 text-center">
        <div class="col-md-3">
          <%= image_tag "https://image.flaticon.com/icons/svg/94/94148.svg", style: 'width: 100%;' %>
        </div>
        <div class="col-md-8">
          <p><strong>When </strong><%= @run.date_time %></p>
          <p><strong>When </strong><%= @run.date_time %></p>
          <p><strong>Will go ahead in all weather  </strong><%= @run.all_weather  %></p>
        </div>
      </div>

      <div class="show-page__column col-xs-12 col-md-3 text-center">
        <div class="col-md-3">
          <%= image_tag "https://image.flaticon.com/icons/svg/94/94148.svg", style: 'width: 100%;' %>
        </div>
        <div class="col-md-8">
            <p><strong>Distance: </strong></b><%= @run.run_distance %>km</p>
          <p><strong>Pace: </strong><%= @run.pace %>min/km</p>
        </div>
      </div>

      <div class="show-page__column col-xs-12 col-md-3 text-center">
        <div class="col-md-3">
          <%= image_tag "https://image.flaticon.com/icons/svg/94/94148.svg", style: 'width: 100%;' %>
        </div>
        <div class="col-md-8">
           <p><strong>Max Runners: </strong><%= @run.group_number %></p>
          <p><strong>Group Type: </strong><%= @run.group_type %></p>
        </div>
        </div>


      <div class="show-page__column col-xs-12 col-md-3 text-center">
        <div class="col-md-3">
          <%= image_tag "https://image.flaticon.com/icons/svg/94/94148.svg", style: 'width: 100%;' %>
        </div>
        <div class="col-md-8">
          <p><strong>Incline: </strong><%= @run.incline %></p>
          <p><strong>Terrain: </strong><%= @run.terrain %></p>
          <p><strong>Elevation Gain: </strong><%= @run.elevation_gain %></p>
        </div>
        </div>

      </div>
    </div>

  </div>
</div>
  <!-- <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-6 text-left">

        <div class="card-run">
          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(@run.photo) %>);"></div>
          <div class="card-info">
          <div class="card-category"><%= @run.terrain %></div>
          <div class="card-description">
            <h2><%= @run.name %> at <%= @run.location %></h2>
            <p><b>When: </b><%= @run.date_time %></p>
            <p><b>Distance: </b><%= @run.run_distance %>km</p>
            <p><b>Run Pace: </b><%= @run.pace %>min/km</p>
             <p><b>Run Incline: </b><%= @run.incline %></p>
            <p><b>Elevation Gain: </b><%= @run.elevation_gain %></p>
             <p><b>WeatherConditions: </b><%= @run.all_weather  %></p>
            <p><b>Number of people: </b><%= @run.group_number %></p>
             <p><b>Languages: </b><%= @run.language_spoken %></p>
            <p><b>Details: </b><%= @run.description %></p>
          Button trigger modal
            </div>

            <%# if @run.user == current_user %>

                <%#= link_to 'Edit', edit_run_path(@run), class: "btn btn-primary"  %>
                <%#= link_to 'Delete',run_path(@run), method: :delete, class: "btn btn-danger"  %>

            <%# else %>
                <% #if current_user.run_bookings.where(run: @run).map(&:status).first == "Pending" %>

                  <%#= link_to 'Cancel', run_run_booking_path(@run, @run.run_bookings.find_by(user: current_user)), method: :delete, class: "btn btn-warning" %>
                  <%# else %>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#booking">
                      Request to join
                    </button>

              <%# end %>
            <%# end %>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 text-left">
        <div class="card-run" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)">
          <div class="card">
            <div class="card-category"><%= @run.user.gender %></div>
            <div class="card-description">
              <h2><%= @run.user.first_name %> <%= @run.user.last_name %></h2>
              <p><b>Language: </b><%= @run.user.language_spoken %></p>
              <p><b>About: </b><%= @run.user.description %></p>
              <p><b>Run Pace: </b><%= @run.user.pace %></p>
            </div>
            <img class="card-user" src=" <%= image_path(@run.user.photo) %> ">
          </div>
        </div>
    </div>
      </div> -->


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

      $(document).ready(function() {

          var handler = Gmaps.build('Google');
          handler.buildMap({
            provider: {
              disableDefaultUI: true
              // pass in other Google Maps API options here
            },
            internal: { id: 'map'} }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
            handler.getMap().setZoom(13);
            }
        });


      });
<% end %>
<% end %>
<%= render 'run_bookings/booking_form' %>






